@import '../../../styles/variables.scss';


@mixin baseWrapper {
    min-height: calc(100vh - 64px);

    background-color: $background-dark;
  
    .single-post{
        span {
            color: $text-light !important;
        }
    }
  
   
}

.homeWrapper {
    @include baseWrapper;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15rem 3rem;
    
    h1 {
        font-size: $font-xlarge;
        color: $text-light !important;
        @media screen and (max-width: $screen-md) {
            font-size: $font-medium;
            text-align: center;
            
        }
    }
    h3 {
        font-size: $font-medium;
        color: $text-light !important;
    }
   
    
    
}

.contentWrapper {
    @include baseWrapper;
    h2 {
        color: $text-light !important;
    }
    padding: 3rem;
}