@import '../../../styles/variables.scss';


@mixin baseWrapper {
   
    background-color: $background-dark;
    min-height: calc(100vh - 64px);
    h1 {
        color: $text-light !important;
    }
    h2 {
        color: $text-light !important;
        text-align: center !important;
    }
    .single-post{
        span {
            color: $text-light !important;
        }
    }
  
    h3 {
        color: $text-light !important;
    }
}

.homeWrapper {
    @include baseWrapper;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15rem 3rem;
    h1 {
        font-size: $font-xlarge
    }
    h3 {
        font-size: $font-medium
    }
    
    
}

.contentWrapper {
    @include baseWrapper;
    height: calc(100vh - 160px);
    padding: 3rem;
}