@import "../styles/variables.scss";

.h-full {
    height: 100%;
}
.h-85{
    height: 85%;
}
.ant-card{

    .ant-card-actions {
        li {
            margin: 0;
        }
    }
}


.word-break {
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    height: 200px;
}

