

//colors

//primary colors
$background-dark: #001529;


//text colors
$text-light: #fff;


//border colors
$border-color: #fff;



//fonts
$font-small: 1rem;
$font-medium: 1.5rem;
$font-large: 2rem;
$font-xlarge: 3rem;
