@import "../../styles/variables.scss";


.single-post {
    color : $text-light !important;
    h2 {
    font-size: $font-xlarge;
    text-align: center !important;
    }
    p {
        font-size: $font-medium;
    }
    pre {
        margin: 10px 0 !important;
        padding: 10px !important;
        background-color: $primary-black !important;
        color: $text-light !important;
    }
    img {
        margin: 10px 0 !important;
        width: 50% !important;
        height: auto !important;
    }
    blockquote {
        margin: 10px 0 !important;
        padding: 10px !important;
        background-color: $primary-black !important;
        color: $text-light !important;
    }
}